<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 *ngIf="patience === 0">No tengo paciencia, Estoy Harto</h2>
        <h2 *ngIf="patience === 1">Tengo 1 de paciencia. Estoy Parcialmente Harto</h2>
        <h2 *ngIf="patience === 2">Tengo 2 de paciencia. Estoy ahi </h2>
        <h2 *ngIf="patience > 2">Tengo {{patience}} de paciencia</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="buyPatience()">
          <p style="margin-right: 1rem">
            Dame Paciencia
          </p>
          <ion-icon name="card-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
